[user]
  email = 26534710+asashakira@users.noreply.github.com
  name = akira
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
[pager]
  branch = false
  grep = false
[core]
  pager = less -F -X
  editor = nvim
