[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
  email = 26534710+asashakira@users.noreply.github.com.
  name = akira
[init]
  defaultBranch = master
[push]
  autoSetupRemote = true
[pager]
  branch = false
  grep = false
[core]
  pager = less -F -X
  editor = nvim
